
# Generate the jar file using: "jar cvfM jar_demo.jar *"

Plugins>Easing ROI, "Easing ROI", com.thinkpc.easingroi.pligin.EasingROIPlugIn
Plugins>Easing ROI, "Specify ROI Size", com.thinkpc.easingroi.plugin.SpecifyRoiSizePluginFilter
# Plugins>Easing ROI, "FFT3D", com.thinkpc.easingroi.plugin.FFT3DPlugIn
Plugins>Easing ROI, "SNR", com.thinkpc.easingroi.plugin.SnrCalculatorPlugIn
Image>Stacks, "Depth Projector", com.thinkpc.easingroi.plugin.DepthProjector
Image>Stacks, "Resample Z", com.thinkpc.easingroi.plugin.ResampleZ
# Plugins, "Degrading Model", com.thinkpc.easingroi.plugin.DegradingModel

